{% extends 'base.html' %}
{% block content %}

  <h1>Add location:</h1> 

  <form id='homeOther'>
  <input id='home' type='radio' name='setloc' value='Home'>Home
  <input id='other' type='radio' name='setloc' value='Other'>Other
  </form>
  <br>

    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div style='display:inline-block; border:1px solid black;padding:5px; vertical-align:top'>

    Title: <input type='text' name='title' placeholder="Title" id='title'><br>
    Date: <input type='text' name='date' id='datepicker' value='{{session["date"]}}' placeholder="{{session['date']}}">
    <div id="datepicker"></div>
    Arrival Time: <input type='time' name='arrival' id='arrival'><br>
    Departure Time: <input type='time' name='departure' id='departure'><br>
    <div id='overlappingTimeNotice'></div><br>
    Comments: <textarea name='comments' cols='40' rows='5' id='comments'></textarea><br>
    <button name='createLog' id='createLog'>Create Log</button>
    <button style='display:inline-block;' id='cancelAdd'>Cancel</button>
    </div>



   <script>


          $(function() {
            $( "#datepicker" ).datepicker();
            $( "#datepicker" ).datepicker("hide");

         });
    </script>

    <script>

  function initialize() {


    var mapOptions = {
      center: {lat: {{session['home_lat']}}, lng: {{session['home_long']}}},
      zoom: 10,
      scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

    var input = /** @type {HTMLInputElement} */(
        document.getElementById('pac-input'));

    // Create the autocomplete helper, and associate it with
    // an HTML text input box.
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      map: map
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });

    // Get the full place details when the user selects a place from the
    // list of suggestions.
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      infowindow.close();
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        return;
      }

      if (place.geometry.viewport) {
        map.fitBounds(place.geometry.viewport);
      } else {
        map.setCenter(place.geometry.location);
        map.setZoom(17);
      }

      // Set the position of the marker using the place ID and location.
      marker.setPlace(/** @type {!google.maps.Place} */ ({
        placeId: place.place_id,
        location: place.geometry.location
      }));
      marker.setVisible(true);

      infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
          place.formatted_address + '</div>');
      infowindow.open(map, marker);

      var addLocation = {'lat': place.geometry.location.lat(),
                      'long': place.geometry.location.lng(),
                      'address': place.formatted_address,
                      'location_id': place.place_id,
                      'name': place.name,
                      'phone': place.formatted_phone_number,
                      'website': place.website,
                      'place_types': JSON.stringify(place.types)}

          $('#createLog').on('click', function(evt) {
            evt.preventDefault();
            addLocation.title = $('#title').val()
            addLocation.arrival = $('#arrival').val()
            addLocation.departure = $('#departure').val()
            addLocation.comments = $('#comments').val()
            addLocation.date = $('#datepicker').datepicker('getDate')

            $.post('/check-times', addLocation, function(data){
              console.log(data)
              if (data === 'True') {
                $('#overlappingTimeNotice').hide();
                $.post('/log-new-location', addLocation, function() {
                  window.location.href = ('/');
                })
              } else {
                $('#overlappingTimeNotice').show().html('You have already logged a location for this time period.');
              }
            })
          })
    });

        $(document).ready(function(){

        $('#homeOther').change(function(){
          var selected_value = $("input[name='setloc']:checked").val();
          if (selected_value === 'Home') {
            $('#pac-input').attr('placeholder', '{{user.home_address}}')
            $('#pac-input').attr('value', '{{user.home_address}}')
            var firstResult = $(".pac-container .pac-item:first").text();

        google.maps.event.trigger(autocomplete, 'place_changed', firstResult)

          } else{
            $('#pac-input').attr('placeholder', 'Enter a location')
            $('#pac-input').attr('value', null)
          }
        });
    });
  }

  // Run the initialize function when the window has finished loading.
  google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <script>
      $('#cancelAdd').click(function(evt) {
        evt.preventDefault();
        window.location.href = ('/')});

    </script>

{% endblock %}
