{% extends 'base.html' %}
{% block content %}

  <p>Add location:</p> 

  <input id='home' type='radio' name='setloc' value='Home'>Home
  <input id='other' type='radio' name='setloc' value='Other'>Other

    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div>

    Title: <input type='text' name='title' placeholder="Title" id='title'><br>
    Date: <input type='date' name='date' id='date'>
    Arrival Time: <input type='time' name='arrival' id='arrival'><br>
    Departure Time: <input type='time' name='departure' id='departure'><br>
    Comments: <textarea name='comments' cols='40' rows='5' id='comments'></textarea>
      
    </div>

    <button name='addLocation' id='addLocation'>Add Location</button>


    <script>

  function initialize() {
    

    var mapOptions = {
      center: {lat: {{session['home_lat']}}, lng: {{session['home_long']}}},
      zoom: 10,
      scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

    var input = /** @type {HTMLInputElement} */(
        document.getElementById('pac-input'));

    

    // Create the autocomplete helper, and associate it with
    // an HTML text input box.
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      map: map
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });

    // Get the full place details when the user selects a place from the
    // list of suggestions.
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      infowindow.close();
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        return;
      }

      if (place.geometry.viewport) {
        map.fitBounds(place.geometry.viewport);
      } else {
        map.setCenter(place.geometry.location);
        map.setZoom(17);
      }

      // Set the position of the marker using the place ID and location.
      marker.setPlace(/** @type {!google.maps.Place} */ ({
        placeId: place.place_id,
        location: place.geometry.location
      }));
      marker.setVisible(true);

      infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
          place.formatted_address + '</div>');
      infowindow.open(map, marker);

      var addLocation = {'lat': place.geometry.location.lat(),
                      'long': place.geometry.location.lng(),
                      'address': place.formatted_address,
                      'location_id': place.place_id,
                      'name': place.name,
                      'phone': place.formatted_phone_number,
                      'website': place.website,
                      'place_types': JSON.stringify(place.types)}

          $('#addLocation').on('click', function() {
            addLocation.title = $('#title').val()
            addLocation.arrival = $('#arrival').val()
            addLocation.departure = $('#departure').val()
            addLocation.comments = $('#comments').val()
            addLocation.date = $('#date').val()
            
            console.log(addLocation)
            
            $.post('/log-new-location', addLocation, function() {
                window.location.href = ('/');
            })
          })
    });
  }

  // Run the initialize function when the window has finished loading.
  google.maps.event.addDomListener(window, 'load', initialize);
    </script>


{% endblock %}
