<!doctype html>
<html>
<head>
  <title>Project</title>
   <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAqn_uUVrUd8tszpmGKjJiFt0voPiAy9k4"></script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <br>
  
  <hr>

  
<ul>
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery.js"></script>
<!-- 
  <script src="scripts.js"></script> -->

{% block content %} put your content here {% endblock %}



</body>
</html>