<!doctype html>
<html>
<head>
  <title>Project</title>
   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="{{google_location_api}}">
       console.log({{google_location_api}})
   </script>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <br>
  
  <hr>

  
<ul>
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>


{% block content %} put your content here {% endblock %}



</body>
</html>