{% extends 'base.html' %}
{% block content %}

<style>

    body {
    background: #333 url("/static/img/OA-SunriseWaterfront_05.jpg");
    background-size: cover;

    color: white;
    text-align: center;
    }

</style>

<!-- Landing/home page with signup and login options -->

<div class="site-wrapper" id='loginStuff'>
    <div class="site-wrapper-inner">

        <h1 style='padding-top:75px'>Locography</h1>

        <p class="lead">Go do the things.</p>

        <button id='login' class="btn btn-lg btn-primary">Login</button>

    </div>
    <br>
    <div>
    <!-- Login form -->
<form action='/login' method='POST' id='login-form' hidden>
    <input style='color:black' type='text' id='username' name='username' placeholder='Username'>
    <br>
    <input style='color:black' type='password' id='password' name='password' placeholder="Password">
    <br><br>
    <input type='submit' value='Submit' id='submit' style="background-color: grey; font-family:">
    <br>
</form>
<div id='loginCredentials'></div>
</div>
<br>

<p>Don't have an account? <a href='#' id='signupLink'>Sign up here.</a></p>

</div>
<!-- Signup Form -->
<div id='signup' hidden>
<form style='color:black' action='/create-profile' method='POST'>
    First Name: <input type='text' name='fname' placeholder='First name' required>
    <br>
    Last Name: <input type='text' name='lname' placeholder='Last name' required>
    <br>
    Email: <input type='text' name='email' placeholder="Email" required>
    <br>
    Username: <input type='text' name='createUsername' id='createUsername' placeholder="Username" required>
    <br>
    <div id='checkUsernamediv'></div>
    Password: <input type='password' name='pw' id='pw' placeholder="Create a password" required>
    <br>
    Re-enter Password: <input type='password' name='checkpw' id='checkpw' placeholder="Re-enter password">
    <div id="checkpwdiv"></div>
    <br>
    <input type='submit' style='background-color:grey' value='Create Account' id='createaccount'>
    <button style='background-color:grey' id='back'>Back</button>
</form>
</div>

<script>

    var username = $('#username').val();

    $('#login').on('click', function() {
        $('#login-form').toggle()})

    $('#submit').on('click', function(evt) {
        evt.preventDefault();
        var username = $('#username').val()
        var credentials = {'username': $('#username').val(),
                            'password': $('#password').val()};
        console.log(credentials)
        $.post('/check-login', credentials, function (data) {
            console.log(data);
            if (data === 'False') {
                $('#loginCredentials').html('Incorrect email/password combination');
            } else {
                window.location.href = ('/profile/'+username);;
            }
        })
    })



    $('#checkpw').on('keyup', function(evt){
        if ($('#checkpw').val() !== $('#pw').val()) {
            $('#checkpwdiv').html('<b>Passwords do not match.</b>')
            $('#createaccount').hide()
        } else {
           $('#checkpwdiv').html('') 
           $('#createaccount').show()
        }
    })


    $('#createUsername').keyup(function(evt) {
        $.post('/check-username', {'username': $('#createUsername').val()}, function(data) {
            if (data === 'True') {
                $('#checkUsernamediv').show().html('<b>Username taken. Please select another.</b>')
                $('#createaccount').hide()
            } else {
                $('#checkUsernamediv').hide()
               $('#createaccount').show()
            }
        })
    })

    $('#signupLink').on('click', function(evt) {
        evt.preventDefault();
        $('#loginStuff').hide("slide",{direction: 'left'}, 1000);
        $('#signup').show('slide', {direction: 'right'}, 1000);
    })
    $('#back').on('click', function(evt) {
        evt.preventDefault();
        $('#signup').hide('slide', {direction: 'right'}, 1000);
        $('#loginStuff').show("slide",{direction: 'left'}, 1000);
    })

</script>

{% endblock %}