{% extends 'base.html' %}
{% block content %}

<!-- Display location information -->

<div class='container'>
<div class='row'>
<h1><b>{{ location_info.name }}</b></h1>
<h4>{{ location_info.address }}</h4>
<p>Phone: {{ location_info.phone }}</p>
{% if location_info.website != 'N/A' %}
<p><a href={{ location_info.website }}>Visit Website</a></p>
{% endif %}</div>
<div class='row'>
<div id='map' class="col-md-6 col-md-push-6"></div>


<!-- If want to add establishment types -->
<!-- <ul>Location Type:
{% for loc_type in location_info.locationtypes %}
    <li>{{ loc_type.location_type.type_name }}</li>
{% endfor %}
</ul>
 -->

 <!-- Display logs for this location -->
<div class="col-md-6 col-md-pull-6" style="font-size:115%"><h3>Logs</h3>
<!-- table of each log for this location -->
<table class="table table-hover" style='width:70%'>
{% for log in location_logs %}
 <th class='logTitle' colspan='2' id='{{log.log_id}}'>{{ log.title }}</th>
<tr hidden id='info{{log.log_id}}'>
 <td>{{ log.visit_date}} </td>
<td>
<p><b>Time: </b>{{ log.arrived }} - {{ log.departed }}</p>
<p><b>Comments: </b>{{ log.comments }}</p>
<p>Created: {{ log.created_at}}</p>
</td></tr>
{% endfor %}
</table>

</div>
</div>
</div>


<script>
$(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset

    $('#map').css('height', (h - offsetTop));
}).resize();


// Expand/condense log information
$('.logTitle').on('click', function() {
    log_id = $( this ).attr('id')
    $('#info'+log_id).toggle();
})

// Create map with marker for the one location
    function initialize() {

    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{location_info.latitude}},{{location_info.longitude}}),
        map: map,
        title: 'Home',
        animation: google.maps.Animation.DROP
    });

    var mapProp = {
        center:new google.maps.LatLng({{location_info.latitude}},{{location_info.longitude}}),
        zoom:12,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("map"),mapProp);
    marker.setMap(map)
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}