{% extends 'base.html' %}
{% block content %}
<button id='backDir' name='backDir'>Back to Directory</button>

<h1>{{ location_info.name }}</h1>
<h4>{{ location_info.address }}</h4>
<p>Phone: {{ location_info.phone }}</p>
{% if location_info.website != 'N/A' %}
<p><a href={{ location_info.website }}>Visit Website</a></p>
{% endif %}
<div id='map'></div>

<!-- <ul>Location Type:
{% for loc_type in location_info.locationtypes %}
    <li>{{ loc_type.location_type.type_name }}</li>
{% endfor %}
</ul>
 -->
<div><h3>Logs</h3>

{% for log in location_logs %}
<ul> <b>{{ log.title }}</b>, {{ log.visit_date}} </p>
<li>Arrived: {{ log.arrived }}</li>
<li>Departed: {{ log.departed }}</li>
<li>Comments: {{ log.comments }}</li>
<li>Created: {{ log.created_at}}</li>
</ul>
{% endfor %}

</div>


<script>
    $('#backDir').on('click', function() {
        window.location.href = ('/profile/{{session["user"]}}/view-locations');
    })

    function initialize() {

    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{location_info.latitude}},{{location_info.longitude}}),
        map: map,
        title: 'Home',
        animation: google.maps.Animation.DROP
    });

    var mapProp = {
        center:new google.maps.LatLng({{location_info.latitude}},{{location_info.longitude}}),
        zoom:12,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("map"),mapProp);
    marker.setMap(map)
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


{% endblock %}