{% extends 'base.html' %}
{% block content %}

<!-- Profile info for user -->
 <div class="container">
   <div class="row">
   <div class="col-md-12" style='text-align:center'>
<h1>Welcome back, {{ user.fname }}</h1>
<h3>Where have you been today?</h3>
<br>
<!-- User can move back a day or forward a day -->
<button id='previous-day' style='display:inline' name='previous-day'><<</button>
<h3 style='display:inline' id='displayDate'></h3>
<button style='display:inline' id='next-day' name='next-day'>>></button>
<br>
<input type="text" style='text-align:center' placeholder='Select Date' id="datepicker"></p>
<button id='changeDateDatepicker'>Go</button><br><br>
<div id="slider-range"></div>
<span id="SlideMax"></span>
<br />
<span id="time"></span><br>
</div>
</div><br>

<style>
    #slider-range,#SlideMax{width:80%; margin:auto;}

</style>
<div class="row">
<div id="map" class="col-md-6 col-md-push-6"></div>
<div class="col-md-6 col-md-pull-6">
<div id='overlappingTimes'></div>
<table id='logs' class="table table-hover"></table>
</div>
</div>
</div>
<script>


// Slider code from http://marcneuwirth.com/blog/2010/02/21/using-a-jquery-ui-slider-to-select-a-time-range/


$(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset

    $('#map').css('height', (h - offsetTop));
}).resize();



// Create the map to display 

function initialize() {

// Function to remove markers when a new view loads
    function removeMarkers(){
    for(i=0; i<markers.length; i++){
        markers[i].setMap(null);
    }
  }
// Function to bind info windows to markers
  function bindInfoWindow(marker, map, infoWindow, html) {
    google.maps.event.addListener(marker, 'click', function () {
      infoWindow.close();
      infoWindow.setContent(html);
      infoWindow.open(map, marker);
    });
  }

  function addMarkers(data) {
// Change the header date to the new date, one day earlier
    // debugger;
    removeMarkers();    
    var bounds = new google.maps.LatLngBounds();
    var home = new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}});
    bounds.extend(home);
    var infoWindow = new google.maps.InfoWindow({
      width: 150
    });

    $('#displayDate').html(data.date);
    $('#logs').html('');


    var log, marker, htmlInfo, htmlDiv;

    for (var i = 0; i<data.logs.length; i++) {
      // debugger;
      log = data.logs[i];

      var newDiv = document.createElement('TR');
      newDiv.id = log.log_id;
      newDiv.className = 'logDiv';

      htmlDiv = (
        '<tr><td class="title-header" id="titlelog'+log.log_id+'"><b>'+log.title+'</b></td>'+
        '<td hidden class="'+ log.locationId + ' individualLog" id="log'+log.log_id+'">' +
        '<p>'+log.locationName +'</p>' +
        '<p><b>Date: </b>' + log.visitDate + '</p>' +
        '<p>Arrived: ' + log.arrived + '</p>' +
        '<p>Departed: ' + log.departed + '</p>' + 
        '<p>Comments: ' + log.comments + '</p></td></tr>' +
        '<div hidden id="EditInfoForlog' + log.log_id +'">' +
        '<input id="newTitlelog'+log.log_id+'" type="text" value="'+log.title+'" placeholder="'+log.title+'">'+
        '<p>Location: '+log.locationName +'</p>' +
        'Date: <input type="text" name="date" id="datelog'+log.log_id+'" value="'+log.visitDate+'" placeholder="'+log.log_id+'"><br>' +
        'Arrival Time: <input type="time" id="arrivallog'+log.log_id+'"name="arrival" value="'+log.arrived+'" placeholder="'+log.arrived+'"><br>'+
        'Departure Time: <input type="time" id="departurelog'+log.log_id+'" name="departure" value="'+log.departed+'" placeholder="'+log.departed+'"><br>'+
        '<textarea name="comments" cols="40" rows="5" value="'+log.comments+'" placeholder="'+log.comments+'" id="commentslog'+log.log_id+'"></textarea>'+
        '<br><button id="savelog'+log.log_id+'">Save</button>' +
        '<button id="cancellog'+log.log_id+'">Cancel</button>' +
        '<button id="deletelog'+log.log_id+'">Delete</button></div>'
        );


      htmlInfo = ('<div>' +
        '<p><b>Name: </b>' + log.locationName + '</p>' +
        '<p>Address: ' + log.locationAddress + '</p>'
        );

      newDiv.innerHTML = htmlDiv;

      $('#logs').append(newDiv);

      marker = new google.maps.Marker({
        position: new google.maps.LatLng(log.locationLat, log.locationLong),
        map: map,
        title: log.locationName,
        animation: google.maps.Animation.DROP
        });

        google.maps.event.addListener(marker, 'click', function() {
          $('.'+this.metadata['id']).fadeToggle()});

      marker.metadata = {type: "point", id: log.locationId};
      markers.push(marker);
      bounds.extend(marker.position);
      bindInfoWindow(marker, map, infoWindow, htmlInfo);
    }

        $('.title-header').on('click', function() {
          var divID = ( $(this).attr('id'));
          divID = divID.slice(5, 20);
          $('#'+divID).toggle();
        })
        $('.logDiv .individualLog').on('dblclick', function() {
          var thisID = $( this ).attr('id');
          $( this ).hide();
          $('#EditInfoFor'+thisID).show();

          $('#cancel'+thisID).on('click', function() {
            $('#EditInfoFor'+thisID).hide();
            $('#'+thisID).show();
          })
          $('#delete'+thisID).on('click', function() {
            $.post('/delete-log', {'logID': thisID}, function(data) {
              console.log('deleted'+thisID);
              location.reload();
            })
          })
          $('#save'+thisID).on('click', function() {
            // var myRow = $(this).parent().parent()
            var edittedInfo = {'logID': thisID,
                              'newTitle': $('#newTitle'+thisID).val(),
                              'newDate': $('#date'+thisID).val(),
                              'newArrival': $('#arrival'+thisID).val(),
                              'newDeparture': $('#departure'+thisID).val(),
                              'newComments': $('#comments'+thisID).val()};

            $.post('/save-log', edittedInfo, function(data) {
               if (data.status === 'True') {
                if (data.visited !== log.visitDate) {
                  $('#'+thisID).parent().hide();
                }

                var newHTML = ('<p>'+data.location +'</p>' +
        '<p><b>Date: </b>' + data.visited + '</p>' +
        '<p>Arrived: ' + data.arrived + '</p>' +
        '<p>Departed: ' + data.departed + '</p>' + 
        '<p>Comments: ' + data.comments + '</p>')
                  $('#'+thisID).html(newHTML);
                  $('#'+thisID).show();
                  $('#EditInfoFor'+thisID).hide();


                  

              } else {
                $('#overlappingTimes').html('Times overlap');
            }
          })
          })

        });


    // setting boundaries of map; if there are no locations logged, setting zoom to 10 and centering on home location
      if (((bounds['H']['H'] != {{session['home_lat']}}) && (bounds['H']['j'] != {{session['home_long']}})) || ((bounds['j']['H'] != {{session['home_lat']}}) && (bounds['j']['j'] != {{session['home_long']}}))) {
        map.fitBounds(bounds);
    } else {
      map.setZoom(10)
      map.setCenter(home)
    }
    bounds = [];
  };

  $("#slider-range").slider({
        range: true,
        min: 0,
        max: 1439,
        values: [0, 1439],
        slide: slideTime
    });

function getTime(hours, minutes) {
    var time = null;
    minutes = minutes + "";
    if (hours < 12) {
        time = "AM";
    }
    else {
        time = "PM";
    }
    if (hours == 0) {
        hours = 12;
    }
    if (hours > 12) {
        hours = hours - 12;
    }
    if (minutes.length == 1) {
        minutes = "0" + minutes;
    }
    return hours + ":" + minutes + " " + time;
}
    function slideTime(event, ui){
    var val0 = $("#slider-range").slider("values", 0),
        val1 = $("#slider-range").slider("values", 1),
        minutes0 = parseInt(val0 % 60, 10),
        hours0 = parseInt(val0 / 60 % 24, 10),
        minutes1 = parseInt(val1 % 60, 10),
        hours1 = parseInt(val1 / 60 % 24, 10);
    startTime = getTime(hours0, minutes0);
    
    endTime = getTime(hours1, minutes1);

    $("#time").html('<p><b>Start:</b> '+startTime+' | <b>End:</b> '+endTime+'</p>')
    $.post('/change-time-range', {'showDate': $('#displayDate').html(), 'startTime': startTime, 'endTime': endTime}, addMarkers)

}

slideTime();


// Creating map properties
  var mapProp = {
    center:new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  // Creating map variable
  var map=new google.maps.Map(document.getElementById("map"),mapProp);

  var markers = [];


// When page loads:
$( document ).ready(function() {
  $.get('/load_today', addMarkers)
});


$('#previous-day').on('click', function() {
  var changeDatePrev = {'showDate': $('#displayDate').html(), 'startTime': startTime, 'endTime': endTime, 'dateRequest': 'previous'};
  $.post('/change-date', changeDatePrev, addMarkers)
  })


$('#next-day').on('click', function() {
  var changeDateNext = {'showDate': $('#displayDate').html(), 'startTime': startTime, 'endTime': endTime, 'dateRequest': 'next'};
  $.post('/change-date', changeDateNext, addMarkers)
  })

$('#changeDateDatepicker').on('click', function() {
  var changeDateDatepicker = {'showDate': $('#datepicker').datepicker('getDate'), 'startTime': startTime, 'endTime': endTime, 'dateRequest': 'datepicker'};
  $('#datepicker').datepicker('setDate', null);
  $.post('/change-date', changeDateDatepicker, addMarkers) 
  })
  };

google.maps.event.addDomListener(window, 'load', initialize);

</script>


<script>

    $('#viewLocations').on('click', function() {
      window.location.href = ('/profile/'+username+'/view-locations');
    })

  
    $('#viewProfile').on('click', function() {
        window.location.href = ('/profile/{{session["user"]}}/view-profile');
    })

    $(function() {
      $( "#datepicker" ).datepicker();
      $( "#datepicker" ).datepicker("hide");
    });



</script>

{% endblock %}