{% extends 'base.html' %}
{% block content %}

<script>
function initialize() {
  var homeLatLng = {lat: {{session['home_lat']}}, lng: {{session['home_long']}}};
  var mapProp = {
    center:new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
    zoom:12,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker=new google.maps.Marker({
    position: homeLatLng,
    map: map
  })
}
google.maps.event.addDomListener(window, 'load', initialize);



</script>

<form action='/logout'>
<input type='submit' value='Logout'>
</form>

<h1>Profile page for {{ username }}</h1>
<h3>{{ current_date }}</h3>

<!-- Location: <input type='text' name='title'/> -->

<div id="googleMap" style="width:500px;height:380px;"></div>

<button id='addLocation' name='addLocation'>Add Location</button>

{% for log in user_logs %}
<p>{{ log.log_id }}, {{log.title}}, {{log.comments}}</p>
{% endfor %}

<!-- {% for log in user_logs %}
<p>{{log.log_id}}</p><br>
{% endfor %}
 -->
<script>
var username = "{{session['user']}}"
    $('#addLocation').on('click', function(){
    window.location.href = ('/profile/'+username+'/add-location')})

    // $('#addLocation').on('click', function() {
    //     $.get('/')
    // }

</script>

{% endblock %}