{% extends 'base.html' %}
{% block content %}

<h1>Sign up</h1>

<form action='/create-profile' method='POST'>
    First Name: <input type='text' name='fname' placeholder='First name' required>
    <br>
    Last Name: <input type='text' name='lname' placeholder='Last name' required>
    <br>
    Email: <input type='text' name='email' placeholder="Email" required>
    <br>
    Username: <input type='text' name='username' id='username' placeholder="Username" required>
    <br>
    <div id='checkUsernamediv'></div>
    Password: <input type='password' name='pw' id='pw' placeholder="Create a password" required>
    <br>
    Re-enter Password: <input type='password' name='checkpw' id='checkpw' placeholder="Re-enter password">
    <div id="checkpwdiv"></div>
    <br>
    <input type='submit' value='Create Account' id='createaccount'>
</form>


<script>
    
    $('#checkpw').on('keyup', function(evt){
        if ($('#checkpw').val() !== $('#pw').val()) {
            $('#checkpwdiv').html('<b>Passwords do not match.</b>')
            $('#createaccount').hide()
        } else {
           $('#checkpwdiv').html('') 
           $('#createaccount').show()
        }
    })


    $('#username').keyup(function(evt) {
        $.post('/check-username', {'username': $('#username').val()}, function(data) {
            if (data === 'True') {
                $('#checkUsernamediv').show().html('<b>Username taken. Please select another</b>')
                $('#createaccount').hide()
            } else {
                $('#checkUsernamediv').hide()
               $('#createaccount').show()
            }
        })
    })


</script>

{% endblock %}