{% extends 'base.html' %}
{% block content %}


<h1>Location Directory</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a id='sortAlpha' href="#">List</a></li>
  <li role="presentation"><a id='mapView' href="#">Map</a></li>
</ul>
<div class="input-group input-group-lg" id='searchLocationDiv'>
  <span class="input-group-addon" id="sizing-addon1">Search</span>
  <input type="text" id="searchLocations" placeholder="Search for location" class="form-control" aria-describedby="sizing-addon1">
</div>

<!-- <input type='text' id='searchLocations' placeholder="Search for location"> -->
<div id='locationDirectory'></div>
<div id='searchResults'></div>
<div id="googleMap" style="width:500px;height:380px;"></div>

<script> 

$( document ).ready(function() {
    $('#locationDirectory').show();

    $.get('/location-directory', function(data) {

    var location, marker, html;

    for (var key in data) {
      location = data[key];

      var newDiv = document.createElement('div');
      newDiv.id = location.locationId

      html = ('<div>' +
        '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
        '<p style="padding-left:1em">' + location.address + '</p>' +
        '</div>');

      newDiv.innerHTML = html

      $('#locationDirectory').append(newDiv)

    }
///////////////////////////////////////////
    function initialize() {

        function removeMarkers(){
        for(i=0; i<markers.length; i++){
            markers[i].setMap(null);
            }
        }

      function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
          infoWindow.close();
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
      }


    var bounds = new google.maps.LatLngBounds();
    var home = new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}})
    bounds.extend(home)

    var mapProp = {
    center:new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var markers = [];

    var infoWindow = new google.maps.InfoWindow({
    width: 150});

    removeMarkers();

    for (var key in data) {
      location = data[key];

      marker = new google.maps.Marker({
        position: new google.maps.LatLng(location.lat, location.long),
        map: map,
        title: location.name
      });

        html = (
      '<div class="window-content">' +
          '<p><b>' + location.name + '</b></p>' +
          '<p>' + location.address + '</p>' +
      '</div>');

      markers.push(marker);
      bounds.extend(marker.position);
      bindInfoWindow(marker, map, infoWindow, html)
    }
    map.fitBounds(bounds);
  };

$('#mapView').on('click', function() {
    $('#googleMap').show();
    $('#searchResults').hide();
    $('#searchLocationDiv').hide();
    $('#listCategory').hide();
    $('#locationDirectory').html('');
    initialize();
})
})
})
</script>

<!-- ////////////////////////////////////////////////////////  -->

<script>
$('#sortAlpha').on('click', function() {
    $('#googleMap').hide();
    $('#searchLocationDiv').show();
    $('#searchLocations').val('');
    $('#locationDirectory').html('');
    $('#locationDirectory').show();
    $('#listCategory').show()
    $.get('/location-directory', function(data) {

    var location, marker, html;

    for (var key in data) {
      location = data[key];

      var newDiv = document.createElement('div');
      newDiv.id = location.locationId

        html = ('<div>' +
        '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
        '<p style="padding-left:1em">' + location.address + '</p>' +
        '</div>');

      newDiv.innerHTML = html
      $('#locationDirectory').append(newDiv)

    }
})
})

</script>

<script>
  $('#searchLocations').keyup(function() {
    $('#locationDirectory').hide();
    $('#searchLocationDiv').show();
    $('#searchResults').show();
    $('#googleMap').hide();
    var searchTerms = {'search': $('#searchLocations').val().toLowerCase()}

    $.post('/search-location-directory', searchTerms, function(data) {
      $('#searchResults').html('');  
      var location, html;

      for (var key in data) {
        location = data[key];

        var newDiv = document.createElement('div');
        newDiv.id = location.locationId

          html = ('<div>' +
          '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
          '<p style="padding-left:1em">' + location.address + '</p>' +
          '</div>');

        newDiv.innerHTML = html
        $('#searchResults').append(newDiv)
    }
  })
  })
</script>


{% endblock %}