{% extends 'base.html' %}
{% block content %}

<style>
  .page-head {
    background: url("/static/img/blur-background-2.png");
    margin-top:-20px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .page-head a {
    color: white;
  }
  
</style>

<div class='container-fluid'>
<div class='row page-head' style="text-align:center">
<br><br>
<h1 style='font-size:400%'><b>Location Directory</b></h1>

<ul class="nav nav-tabs" style="font-size:125%">
  <li role="presentation" class='active'><a id='sortAlpha' href="#"><b>List</b></a></li>
  <li role="presentation"><a id='mapView' href="#"><b>Map</b></a></li>
</ul>
</div>
<br>
</div>
<div class='container'>
<!-- <input type='text' id='searchLocations' placeholder="Search for location"> -->
<!-- Search bar for location directory -->
<br>
<div class="input-group input-group-lg" id='searchLocationDiv'>
  <span class="input-group-addon" id="sizing-addon1">Search</span>
  <input type="text" id="searchLocations" placeholder="Search for location" class="form-control" aria-describedby="sizing-addon1">
</div><br>
<div style="font-size:115%" id='locationDirectory'></div>
<div style="font-size:115%" id='searchResults'></div>
<div id="map"></div>
</div>

<script> 

    $(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset

    $('#map').css('height', (h - offsetTop));
  }).resize();

// Load location directory initially (contains all locations user has visited)

$( document ).ready(function() {
    $('#locationDirectory').show();

    $.get('/location-directory', function(data) {

    var location, marker, html;

    for (var key in data) {
      location = data[key];

      var newDiv = document.createElement('div');
      newDiv.id = location.locationId

      html = ('<div>' +
        '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
        '<p style="padding-left:1em">' + location.address + '</p>' +
        '</div>');

      newDiv.innerHTML = html

      $('#locationDirectory').append(newDiv)

    }
///////////////////////////////////////////
// Create map of all locations //
    function initialize() {

        function removeMarkers(){
        for(i=0; i<markers.length; i++){
            markers[i].setMap(null);
            }
        }

      function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
          infoWindow.close();
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
      }


    var bounds = new google.maps.LatLngBounds();
    var home = new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}})
    bounds.extend(home)

    var mapProp = {
    center:new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("map"),mapProp);

    var markers = [];

    var infoWindow = new google.maps.InfoWindow({
    width: 150});

    removeMarkers();

    // Iterate through locations and create markers

    for (var key in data) {
      location = data[key];

      marker = new google.maps.Marker({
        position: new google.maps.LatLng(location.lat, location.long),
        map: map,
        title: location.name
      });

        html = (
      '<div class="window-content">' +
          '<p><b>' + location.name + '</b></p>' +
          '<p>' + location.address + '</p>' +
      '</div>');

      markers.push(marker);
      bounds.extend(marker.position);
      bindInfoWindow(marker, map, infoWindow, html)
    }
    // Extend map bounds to show all locations
    map.fitBounds(bounds);
  };
  // Toggle show map view when selected

$('#mapView').on('click', function() {
    $('#sortAlpha').parent().removeClass('active');
    $( this ).parent().addClass('active');
    $('#map').show();
    $('#searchResults').hide();
    $('#searchLocationDiv').hide();
    $('#listCategory').hide();
    $('#locationDirectory').html('');
    initialize();
})
})
})
</script>

<!-- ////////////////////////////////////////////////////////  -->

<script>
$('#sortAlpha').on('click', function() {
    $('#mapView').parent().removeClass('active');
    $( this ).parent().addClass('active');
    $('#map').hide();
    $('#searchLocationDiv').show();
    $('#searchLocations').val('');
    $('#locationDirectory').html('');
    $('#locationDirectory').show();
    $('#listCategory').show()
    $.get('/location-directory', function(data) {

    var location, marker, html;
// Create list of all locations with link to individual location page
    for (var key in data) {
      location = data[key];

      var newDiv = document.createElement('div');
      newDiv.id = location.locationId

        html = ('<div>' +
        '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
        '<p style="padding-left:1em">' + location.address + '</p>' +
        '</div>');

      newDiv.innerHTML = html
      $('#locationDirectory').append(newDiv)

    }
})
})

</script>

<script>
// User can search by location name
  $('#searchLocations').keyup(function() {
    $('#locationDirectory').hide();
    $('#searchLocationDiv').show();
    $('#searchResults').show();
    $('#map').hide();
    var searchTerms = {'search': $('#searchLocations').val().toLowerCase()}

    $.post('/search-location-directory', searchTerms, function(data) {
      $('#searchResults').html('');  
      var location, html;

      for (var key in data) {
        location = data[key];

        var newDiv = document.createElement('div');
        newDiv.id = location.locationId

          html = ('<div>' +
          '<p><b><a href="/profile/location-info/'+ location.locationId+'">' + location.name + '</a></b></p>' +
          '<p style="padding-left:1em">' + location.address + '</p>' +
          '</div>');

        newDiv.innerHTML = html
        $('#searchResults').append(newDiv)
    }
  })
  })
</script>


{% endblock %}