{% extends 'base.html' %}
{% block content %}
<div class="container">
<h1>{{user.fname}} {{user.lname}}</h1>
<hr>
<h3 id='displayUsername'>Username: {{user.username}}</h3>
<button id='editUsername'>Edit Username</button>
<p>Home location: {{ user.home_address }}</p>
<button id='editHomeLocation'>Edit Home Location</button><br><br>
<div id='inputDiv'><input id="pac-input" class="controls" type="text"
    placeholder="Enter a location" hidden></div>
<div id='map'></div><br>
<button name='verify' value='verify' id='verify' hidden>Verify</button>
<button name='cancel' id='cancel' hidden>Cancel</button>

<p>Number of logs: {{ num_logs }}</p>
<p>User since: {{ user.date_created }}</p>
</div>

<script>
    $(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 190; // Calculate the top offset

    $('#map').css('height', (h - offsetTop));
}).resize();


    $('#editUsername').on('click', function() {
        $('#displayUsername').html('<input id="newUsername" placeholder={{user.username}} value={{user.username}}>'+
            '<br><button id="submitUsername">Submit</button>' +
            '<button id="cancelEditUsername">Cancel</button>'+
            '<div id="usernameTaken"></div>');
            $('#cancelEditUsername').on('click', function() {
                 $('#displayUsername').html('Username: {{user.username}}');
            });
            $('#submitUsername').on('click', function() {
                $.post('/edit-username-check', {'username': $('#newUsername').val()}, function(data) {
                    if (data === 'False') {
                        $.post('/add-new-username', {'username': $('#newUsername').val()}, function(data2) {
                            if (data2) {
                            console.log(data2.user)
                             window.location.href = ('/profile/'+data2.user+'/view-profile');
                            }
                        })
                    } else {
                        $('#usernameTaken').html('Username in use');
                    }
                });
            });


    })
</script>

<script>
function loadMap() {
    $('#inputDiv').html('<input id="pac-input" class="controls" type="text" placeholder="Enter a location" hidden>');
    $('#pac-input').show()

        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
          zoom: 10
        });
        var input = (document.getElementById('pac-input'));
        console.log(typeof(input))
        console.log(input)

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setIcon(/** @type {google.maps.Icon} */({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
          }));
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

        var homeLocation = {'lat': place.geometry.location.lat(),
                            'long': place.geometry.location.lng(),
                            'address': place.formatted_address,
                            'home_id': place.place_id};

        console.log(homeLocation)

        var username = '{{ username }}';
        console.log(username);

        $('#verify').on('click', function(evt) {
            $.post('/set-home', homeLocation, function() {
                window.location.href = ('/profile/bbuild/view-profile');
            })
        })

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });

      }
        // google.maps.event.addDomListener(document.getElementById('editHomeLocation'), 'click', loadMap);

</script>

<script>
function initialize() {
console.log('Im doing stuff')
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
        map: map,
        title: 'Home',
        animation: google.maps.Animation.DROP
    });

    var mapProp = {
        center:new google.maps.LatLng({{session['home_lat']}},{{session['home_long']}}),
        zoom:10,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("map"),mapProp);
    marker.setMap(map)
}

google.maps.event.addDomListener(window, 'load', initialize);
// google.maps.event.addDomListener(document.getElementById('cancel'), 'click', initialize);
</script>
<script>
    $('#cancel').on('click', function() {
      $('#cancel' ).hide();
      $('#verify').hide();
      initialize();
    });
    $('#editHomeLocation').on('click', function() {
      $('#cancel').show();
      $('#verify').show();
      loadMap();
    });

</script>


{% endblock %}